*{
	padding:0;
	margin:0;
	font-family:"Microsoft YaHei";
	}
	
html{
	font-size:62.5%;
}	
	
a{
	text-decoration:none;
	color:#777;
	}

li{
	list-style-type:none;
	}	
	
/*-----------------------通用属性----------------------*/	
	
.mask{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index:2;
	}  /*--遮罩层--*/	
	
.mask_login{
	position:absolute;
	top:25%;
	left:38%;
	width:320px;
	height:250px;
	background-color:#fff;	
	border-radius:8px;
	font-size:1.5rem;
	}	
	
.mask_reg{
	position:absolute;
	top:25%;
	left:38%;
	width:320px;
	height:340px;
	background-color:#fff;
	border-radius:8px;
	font-size:1.5rem;
	}	
	
.mask_title{
	width:85%;
	height:30px;
	margin:0 auto;
	padding-top:10px;
	border-bottom:1px solid #CCC;
	}	
	
.mtitle{
	color:#777;
	font-size:16px;
	padding-bottom:5px;
	padding-left:5px;
	display:block;
	float:left;
	}	
	
.msign{
	float:right;
	cursor:pointer;
	font-size:20px;
	margin-top:-4px;
	color:#777;
	}	
	
.msign:hover{
	color:#F00;
	}	
	
.login_form{
	padding-top:10px;
	padding-left:30px;
	line-height:50px;
	font-family:"YouYuan";
	}	
	
#text,#texts{
	width:180px;
	padding:3px 5px;
	}
	
#password,#passwords{
	width:180px;
	padding:3px 5px;
	display:inline-block;
	margin-top:20px;
	margin-bottom:20px;
	}		
	
#submit,#submits{
	padding:5px 80px;
	margin-top:30px;
	margin-left:36px;
	border:transparent solid 1px;
	border-radius:5px;
	background-color:#06F;
	color:#fff;
	transition:all .5s;
	}
	
#submit:hover{
	opacity:0.7;
	}	
	
#repass{
	padding:3px 5px;
	width:148px;
	}	
	
#notice1{
	position:absolute;
	top:80px;
	left:80px;
	}	
	
#notice2{
	position:absolute;
	top:200px;
	left:110px;
	}	
	
/*-------------------登录界面------------------------*/	
	
.header{
	height:80px;
	}	
	
.logo{
	float:left;
	margin-left:74px;
	margin-top:-3px;
	}	
	
.login{
	float:right;
	margin-right:50px;
	}	
	
.login li{
	float:left;
	width:100px;
	line-height:80px;
	font-size:1.5rem;
	}	
	
.login li a:hover{
    color:#903;
	}	
	
.cookies{
	position:absolute;
	left:900px;
	top:28px;
	font-size:1.7rem;
	color:#f00;
	z-index:-1;
    }	
	
/*---------------------网页头部---------------------*/	
	
.content{
	width:1200px;
	margin:0 auto;
	height:460px;
	position:relative;
	font-size:1.5rem;
	}	
	
.menu{
	width:200px;
	height:460px;
	background:rgba(0,0,0,.2);
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;    /*很重要*/
	}	
	
.item{
	width:200px;
	height:66px;
	}
	
.item:hover{
	background:rgba(0,0,0,.1);
	}	
	
.item>a{
	width:150px;
	height:66px;
	margin:0 auto;
	display:block;
	padding-left:10px;
	border-bottom:1px solid rgba(204,204,204,.5);
	line-height:66px;
	color:#fff;
	}	
	
.item_con{
	width:700px;
	height:460px;
	overflow:hidden;
	position:absolute;
    left:200px;
	top:0px;
	display:none;
	background:#fff;
    }
	
.con_top{
	width:600px;
	margin:0 auto;
	padding-top:30px;
	line-height:30px;
	}	

.con_top a{
	padding-left:5px;
	padding-right:5px;
	color:#666;
	}

.con_top a:hover,.con_bottom a:hover{
	color:#F00;
	}	
	
.con_bottom{
	width:600px;
	margin:0 auto;
	margin-top:30px;
	}	
	
.con_bottom p{
	margin:16px 0px;
	}	
	
.con_bottom a{
	color:#666;
	}	

.con_bottom_nav{
	padding:3px;
	background:#eee;
	color:#666;
	font-size:1.2rem;
    margin-right:10px;
	}

.con_nav{
	color:#333;
	font-weight:bold;
	}
	
.con_img{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	}	

.arrow{
	position:absolute;
	font-size:30px;
	display:block;
	width:40px;
	height:70px;
	line-height:70px;
	cursor:pointer;
	}
	
.arrow a{
	color:#fff;
	width:20px;
	height:20px;
	display:inline-block;
	border-width:2px;
	border-style:solid solid none none;
	border-color:#fff;
	position:absolute;
	top:25px;
	}

.arrow_left{
	left:220px;
	top:180px;
	}

.arrow_right{
	left:1130px;
	top:180px;
	}
	
.arrow:hover{
	background:rgba(0,0,0,.3);
	}	
	
.arrow_prev{
	transform:rotate(225deg);
	-ms-transform:rotate(225deg);
	-moz-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	-webkit-transform:rotate(225deg);
	left:15px;
	}

.arrow_next{
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	left:3px;
	}	

.dot{
	position:absolute;
	left:1000px;
	top:400px;
	}
		
.dot li{
	float:left;
	width:10px;
	height:10px;
	margin-right:10px;
	background:rgba(0,0,0,.3);
	border:2px solid #fff;
	border-radius:10px;
	cursor:pointer;
	}		
	
/*-------------------①部分（包括）---------------------------*/	

.over{
	background:#f3f5f7;
	}

.content_after{
	width:1200px;
	height:120px;
	overflow:hidden;
	margin:0 auto;
	box-shadow:0 4px 8px 0 #ccc;
	}
	
.content_after a{
	float:left;
	width:240px;
	height:120px;
    overflow:hidden;
	position:relative;
	top:0px;
	
	}	
	
.content_after img{
	width:100%;
	height:100%;
	}	
	
.content_after a:hover {
	
	}	
	
.after_1{
	width:240px;
	height:120px;
	position:relative;
}	

.after_2{
	width:240px;
	height:120px;
	background-color:#fff;
	position:relative;
}

.after_2 p{
	font-size:18px;
	color:#666;
	text-align:center;
	line-height:120px;
	font-weight:bold;
}

/*----------------①后缀部分-----------------*/

.h3p{
	font-size:1.8rem;
}

.main{
	width:1200px;
	height:430px;
	margin:0 auto;
	margin-top:7px;
	box-shadow:7px 7px 15px #bbb;
	background:#fff;
	overflow:hidden;
	}
	

.main img{
	transition:transform 1s ease 0s;
	-ms-transition:transform 1s ease 0s;
	-o-transition:transform 1s ease 0s;
	-webkit-transition:transform 1s ease 0s;
	}	
	
.main img:hover{
	transform:scale(1.2);
	}			
	
.img_1{
	cursor:pointer;
	overflow:hidden;
	margin-right:8px;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
	width:470px;
	height:180px;
	}		
			
.img_2{
	width:100%;
	height:75%;
	cursor:pointer;
	overflow:hidden;
	float:left;
	}		
		
.outimg{
	float:left;
	width:220px;
	height:186px;
	margin-top:5px;
	margin-right:18px;
	margin-bottom:5px;
	}

.img_p{
	font-size:1.4rem;
	color:#333;
	line-height:1.7;
	cursor:pointer;
	}
	
.img_p:hover{
	color:#093;
	}	
	
.img_pl{
	font-size:1.0rem;
	color:#888;
	}	


/*--------------------②部分-------------------------*/		


.main_2{
	height:450px;
	width:1200px;
    margin:0 auto;
	margin-top:50px;
	overflow:hidden;
	}

.main_2_left{
	float:left;
	width:220px;
	height:350px;
	background-color:#E02C4F;
	cursor:pointer;
	}

.main_2_p{
	color:#fff;
	padding-left:20px;
	padding-top:30px;
	font-size:1.4rem;
	}
	
.main_2_left img{
	display:block;
	margin:0 auto;
	padding-top:30px;
	}	

.main_2_right{
	width:80%;
	height:78%;
	float:right;
	font-size:1.5rem;
	}

.right_con{
	float:left;
	width:231px;
	height:170px;
	background-color:#fff;
	margin:0px 9px 10px 0px ;
	transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
	-webkit-transition:all .3s;
	position:relative;
	top:0px;
	}
	
.right_con img{
	display:block;
	margin:0 auto;
	margin-top:30px;
	}	
	
.right_con p{
	color:#000;
	text-align:center;
	padding-top:20px;
	}	

.right_con:hover{
	top:-3px;
	box-shadow:0px 5px 10px #999;
	}

/*---------------------③部分-----------------------------*/

.acc li{
	float:left;
	width:17%;
	height:251px;
	}

.acc{
	width:1200px;
	height:251px;
	margin:0 auto;
	box-shadow:10px 10px 15px #999;
	}


.acc_txt{}

.txt_title{
	padding:5px 5px 5px 10px;
	color:#fff;
	font-weight:bold;
	font-size:1.4rem;
	width:180px;
	background-color:rgba(0,0,0,.5);
	}
	
.txt_content{
	display:none;
	padding:5px 5px 5px 10px;
	width:180px;
	line-height:30px;
	font-size:1.3rem;
	color:#fff;
	background-color:rgba(0,0,0,.5);
	}	

.acc1{
	background:url(../img/acc1.jpg);
	}

.acc2{
	background:url(../img/acc2.jpg);
	}

.acc3{
	background:url(../img/acc3.jpg);
	}

.acc4{
	background:url(../img/acc4.png);
	}

.acc ul .acc5{
	background:url(../img/acc5.jpg);
	width:384px;
	}



/*----------------------手风琴部分------------------------------*/


.footer{height:180px;}
	
.two_code{
    width:1200px;
	margin:0 auto;
	height:100px;
	background:#fff;
	}	

.two_codes{
	text-align:center;
	margin-top:50px;
	}	
	
.two_codes a{
	display:inline-block;
	width:32px;
	height:32px;
	background-image:url(../img/two_code.png);
	background-repeat:no-repeat;
	margin:0 8px;
	}	

.sina{background-position:0 -221px;}

.sina:hover{background-position:0 -262px;}

.weixin{background-position:-52px -221px;}
	
.weixin:hover{background-position:-52px -262px;}	

.tencent{background-position:-104px -221px;}
	
.tencent:hover{background-position:-104px -262px;}	
	
.QQ{background-position:-156px -221px;}	
	
.QQ:hover{background-position:-156px -262px;}	

.footer_ul{
	width:1200px;
	margin:0 auto;
	height:30px;
	}
	
.footer_ul ul{
	width:1000px;
	margin:0 auto;
	}	
	
.footer_ul li{
	width:100px;
	margin-top:30px;
	padding-left:11px;
	float:left;
	}	
	
.footer_ul li a{
	color:#99a1a6;
	font-size:1.5rem;
	}	
	
.footer_ul li:hover a{color:#C33;}	

.footer_hr{
	height:20px;
	width:1200px;
	margin:0 auto;
	border-bottom:1px solid #ccc;
	}

.footer_ps{
	padding-top:20px;
	width:300px;
	margin:0 auto;
	color:#ccc;
	font-size:1.5rem;
	}

/*----------------------页脚部分-----------------------------*/

.anchor{
	width:38px;
	height:125px;
	background:#FFF;
	box-shadow:1px 5px 20px #CCC;
	position:fixed;
	overflow:hidden;
	top:40%;
	font-size:1.4rem;
	}
	
.anchor ul{
	width:100px;
	}	
	
.anchor li{
	padding:5px 0px;
	cursor:pointer;
	transition:all .5s;
	color:#333;
	padding-left:5px;
	}	
.anchor li:hover{
	background:#63F;
	color:#FFF;
	margin-left:15px;
	}	


/*----------------------锚点部分-----------------------------*/